# 創建資料表

In [1]:
import MySQLdb

db = MySQLdb.connect("localhost","root","個人密碼","mydatabase")

cursor = db.cursor()

## 1.將如果STUDENTS資料表存在，將STUDENTS資料表丟棄

cursor.execute("DROP TABLE IF EXISTS STUDENTS")



## 2.創建STUDENTS資料表，資料表欄位如下
'''
| ID INT(11) | NAME CHAR(20) | GENDER CHAR(20) | CHINESE CHAR(20) | ENGLISH CHAR(20) | MATH CHAR(20) | SOCIAL_SCIENCE CHAR(20) | SCIENCE  CHAR(20) |

PRIMARY KEY = ID
CHARSET = utf8

'''

sql = '''CREATE TABLE STUDENTS(
        ID INT(11) NOT NULL AUTO_INCREMENT,
        NAME CHAR(20) NOT NULL,
        GENDER CHAR(20) NOT NULL,
        CHINESE CHAR(20) NOT NULL,
        ENGLISH CHAR(20) NOT NULL,
        MATH CHAR(20) NOT NULL,
        SOCIAL_SCIENCE CHAR(20) NOT NULL,
        SCIENCE CHAR(20) NOT NULL,
        PRIMARY KEY(ID)
        )DEFAULT CHARSET=utf8
        '''

cursor.execute(sql)

db.close()

# 手key學生成績到資料庫內  
請手動輸入以下兩位學生成績  
name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 52, science: 86  
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93

In [4]:
import MySQLdb

db = MySQLdb.connect("localhost","root","個人密碼","mydatabase" )

cursor = db.cursor()

print("enter students score")
while True:

    student_name = input("enter name: ")
    student_gender = input("enter gender: ")
    student_chinese = input("enter chinese score: ")
    student_english = input("enter english score: ")
    student_math = input("enter math score: ")
    student_social_science = input("enter social science score: ")
    student_science = input("enter science score: ")
    
    ## 3.將student_name, student_gender, student_chinese, ......插入到資料庫
    x = (student_name, student_gender, student_chinese, student_english, student_math, student_social_science, student_science)
    sql = """INSERT INTO STUDENTS
        (NAME, GENDER, CHINESE, ENGLISH, MATH, SOCIAL_SCIENCE, SCIENCE)
         VALUES (%s, %s, %s, %s, %s, %s, %s)"""
    
    try:
        cursor.execute(sql, x)
        db.commit()
    except:
        db.rollback()
    
    again = input("continue(y/n)? ")
    if again[0].lower() == "n":
        break

db.close()

enter students score
enter name: isaac
enter gender: m
enter chinese score: 60
enter english score: 72
enter math score: 32
enter social science score: 56
enter science score: 86
continue(y/n)? y
enter name: amy
enter gender: f
enter chinese score: 50
enter english score: 22
enter math score: 80
enter social science score: 15
enter science score: 93
continue(y/n)? n

# 查詢目前資料庫所有內容

In [11]:
import MySQLdb

db = MySQLdb.connect("localhost","root","個人密碼","mydatabase" )


cursor = db.cursor()

sql = "SELECT * FROM STUDENTS"

## 4.查詢目前資料庫所有內容

try:
    # Execute the SQL command
    cursor.execute(sql)
    # Fetch all the rows in a list of lists.
    results = cursor.fetchall()

    for row in results:
        student_id = row[0]
        student_name = row[1]
        student_gender = row[2]
        student_chinese = row[3]
        student_english = row[4]
        student_math = row[5]
        student_social_science = row[6]
        student_science = row[7]
        
        print('name: {}, gender: {}, chinese: {}, english: {}, math: {}, social_science: {}, science: {}' 
               .format(student_name, student_gender, student_chinese, student_english, student_math, student_social_science, student_science))

except:
    print("Error: unable to fecth data")

    
db.close()

name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 56, science: 86
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93

# 使用csv檔案，大量匯入全班成績

In [16]:
import MySQLdb

db = MySQLdb.connect("localhost","root","個人密碼","mydatabase" )


cursor = db.cursor()

## 5.將exam_score.csv所有學生成績插入資料庫

with open('exam_score.csv') as f:
    for index, i in enumerate(f.readlines()):
        if index == 0: 
            continue
        x = tuple(i.strip().split(','))
        print('insert {} data......'.format(x[0]))
        
        sql = """INSERT INTO STUDENTS
            (NAME, GENDER, CHINESE, ENGLISH, MATH, SOCIAL_SCIENCE, SCIENCE)
            VALUES (%s, %s, %s, %s, %s, %s, %s)"""
        
        try:
            cursor.execute(sql, x)
            db.commit()
        except:
            db.rollback()
    
db.close()

insert loe data......
insert judy data......
insert lily data......
insert evan data......
insert joyce data......
insert yoshi data......
insert amber data......
insert alex data......
insert sophia data......

# 將sophia英文成績改成99

In [17]:
import MySQLdb

db = MySQLdb.connect("localhost","root","個人密碼","mydatabase")

cursor = db.cursor()

## 6.將sophia英文成績改成99
sql = "UPDATE STUDENTS SET ENGLISH = 99 WHERE NAME = '%s'" % ('sophia')

try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

db.close()

# 計算各科平均

In [20]:
import MySQLdb

db = MySQLdb.connect("localhost","root","個人密碼","mydatabase")

cursor = db.cursor()


sql = "SELECT * FROM STUDENTS"
chinese_avg = 0
english_avg = 0
math_avg = 0
social_science_avg = 0
science_avg = 0

try:
    
    cursor.execute(sql)

    results = cursor.fetchall()
    num_students = len(results)
    ## 7.計算各個科目平均成績
    for row in results:
        student_id = row[0]
        student_name = row[1]
        student_gender = row[2]

        
        student_chinese = row[3]
        chinese_avg = chinese_avg + float(row[3])
                
        
        student_english = row[4]
        english_avg = english_avg + float(row[4])
        
        
        student_math = row[5]
        math_avg = math_avg + float(row[5])        
        
        student_social_science = row[6]
        social_science_avg = social_science_avg + float(row[6])   
        
        student_science = row[7]
        science_avg = science_avg + float(row[7])           
        
        
        print('name: {}, gender: {}, chinese: {}, english: {}, math: {}, social_science: {}, science: {}' 
               .format(student_name, student_gender, student_chinese, student_english, student_math, student_social_science, student_science))

except:
    print("Error: unable to fecth data")

print('chinese_avg: {}'.format(chinese_avg/num_students))
print('english_avg: {}'.format(english_avg/num_students))
print('math_avg: {}'.format(math_avg/num_students))
print('social_science_avg: {}'.format(social_science_avg/num_students))
print('science_avg: {}'.format(science_avg/num_students))

db.close()

name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 56, science: 86
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93
name: loe, gender: m, chinese: 70, english: 48, math: 69, social_science: 50, science: 66
name: judy, gender: f, chinese: 89, english: 90, math: 59, social_science: 28, science: 39
name: lily, gender: f, chinese: 37, english: 43, math: 67, social_science: 34, science: 43
name: evan, gender: m, chinese: 12, english: 57, math: 97, social_science: 100, science: 100
name: joyce, gender: f, chinese: 58, english: 48, math: 47, social_science: 98, science: 37
name: yoshi, gender: m, chinese: 58, english: 49, math: 79, social_science: 38, science: 20
name: amber, gender: f, chinese: 57, english: 23, math: 6, social_science: 28, science: 69
name: alex, gender: m, chinese: 59, english: 69, math: 20, social_science: 60, science: 79
name: sophia, gender: f, chinese: 79, english: 87, math: 70, social_science: 49, science: 70
chinese_avg: 57.18181818181818
english_avg: 55.27272727272727
math_avg: 56.90909090909091
social_science_avg: 50.54545454545455
science_avg: 63.81818181818182